.card-cadastro {
  margin: 50px;
}

.button-success {
  background-color: rgb(14, 127, 14);
}

.button-sucess:hover {
  background-color: rgb(9, 95, 9);
}

.card-footer {
  justify-content: right;
  display: flex;
  margin: 25px;
}

