<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
    opened="true"
    mode="side"  
  >
    <mat-toolbar>MENU</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink="/dashboard"> <mat-icon>dashboard</mat-icon> Dashboard</a>
      <a mat-list-item routerLink="/cadastro"> <mat-icon>add</mat-icon>Cadastro</a>
      <a mat-list-item routerLink="/lista"> <mat-icon>list</mat-icon>Lista</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Catálago XPTO</span>
      </mat-toolbar>
      <div class="divRouter">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>